@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
html body {
  width: 100%;
  margin: 0;
}
html a, html a:link {
  text-decoration: none;
  color: inherit;
}
html img {
  object-fit: cover;
}

* {
  font-family: "Roboto";
}

footer h2 {
  font-family: "Shrikhand";
}

.restaurants__new {
  position: relative;
  padding: 8px 16px 8px 16px;
  text-align: center;
  left: 70%;
  bottom: 140px;
  color: #139273;
  font-weight: bold;
  background-color: #99E2D0;
}

.restaurants__like {
  align-self: flex-end;
  right: 60px;
  bottom: 50px;
  font-size: 35px;
  position: relative;
}

.function__card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px auto;
}
@media (min-width: 599px) {
  .function__card {
    width: 30%;
    margin: 20px;
  }
}
.function__card span {
  width: 18px;
  position: relative;
  right: 8px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 5%;
}
.function__card i {
  width: 20%;
  color: #7e7e7e;
}
.function__card p {
  width: 50%;
  margin-right: auto;
  font-weight: bold;
}

header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#logo {
  width: 220px;
  object-fit: cover;
  margin: 0;
}

.restaurants__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.restaurants__card a, .restaurants__card figure {
  width: 360px;
  height: 240px;
}
.restaurants__card figure {
  margin: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px 20px 20px 20px;
}
.restaurants__card figure img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 160px;
}
.restaurants__card figure figcaption {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
  height: 80px;
}
.restaurants__card figure figcaption h3, .restaurants__card figure figcaption p {
  padding-left: 10px;
  padding-bottom: 5px;
  height: 40px;
  margin: 0;
}

img + figcaption {
  margin-top: 20px;
}

section h2 {
  padding-left: 5%;
}
@media (min-width: 599px) {
  section h2 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

#search__border-top {
  border-top: #dbdbdb 1px solid;
  height: 5px;
  background: linear-gradient(to bottom, #d3d3d3, rgba(50, 50, 50, 0.1));
}

.search__toolbar {
  background: #eaeaea;
  height: 35px;
  display: flex;
  justify-content: center;
}
.search__toolbar #search__icon::before {
  font-size: 20px;
  position: relative;
  top: 6px;
  color: #3a3a3a;
  padding-left: 20px;
}
.search__toolbar form {
  width: 220px;
}
.search__toolbar input {
  border: none;
  background: #eaeaea;
  height: 95%;
  font-size: 20px;
  color: #3a3a3a;
  width: 220px;
  margin: 0;
  padding: 0 0 0 20px;
}
.search__toolbar input:focus {
  outline: none;
}

.search__intro {
  background: #f6f6f6;
  height: 220px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search__intro * {
  margin-top: 0;
  text-align: center;
}
.search__intro a {
  text-decoration: none;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: white;
  border-radius: 50px;
  width: 50%;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.function__flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 599px) {
  .function__flex {
    flex-direction: row;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 50px;
}

.restaurants__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 599px) {
  .restaurants__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  background-color: #353535;
}
footer i, footer a, footer h2 {
  color: white;
}
footer h2 {
  padding-left: 40px;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: flex-start;
}
footer ul {
  list-style: none;
}
footer a {
  text-decoration: none;
}
footer i {
  position: absolute;
  left: 40px;
  font-size: 15px;
}
footer li {
  margin-top: 8px;
}
footer .footer__li {
  margin-left: 30px;
}

.restaurants__new {
  position: relative;
  padding: 8px 16px 8px 16px;
  text-align: center;
  left: 70%;
  bottom: 140px;
  color: #139273;
  font-weight: bold;
  background-color: #99E2D0;
}

.restaurants__like {
  align-self: flex-end;
  right: 60px;
  bottom: 50px;
  font-size: 35px;
  position: relative;
}

.function__card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px auto;
}
@media (min-width: 599px) {
  .function__card {
    width: 30%;
    margin: 20px;
  }
}
.function__card span {
  width: 18px;
  position: relative;
  right: 8px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 5%;
}
.function__card i {
  width: 20%;
  color: #7e7e7e;
}
.function__card p {
  width: 50%;
  margin-right: auto;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
