/*background-clip: text;
transform
loader css3
z-index*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

* {
  font-family: "Roboto";
}

footer h2, .order h1 {
  font-family: "Shrikhand";
}

.main-button, .order a, .search__intro a {
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: white;
  border-radius: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  position: relative;
  z-index: 1;
}
.main-button:hover::after, .order a:hover::after, .search__intro a:hover::after {
  opacity: 1;
}
.main-button::after, .order a::after, .search__intro a::after {
  background: linear-gradient(to bottom, #ff88de, #9b63df);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  opacity: 0;
  transition: opacity 300ms;
}

.restaurants__new {
  position: relative;
  padding: 8px 16px 8px 16px;
  text-align: center;
  left: 70%;
  bottom: 140px;
  color: #139273;
  font-weight: bold;
  background-color: #99E2D0;
}

.restaurants__like {
  cursor: pointer;
  align-self: flex-end;
  right: 60px;
  bottom: 30px;
  font-size: 35px;
  position: relative;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  z-index: 3;
}
.restaurants__like:hover, .restaurants__like:active {
  -webkit-text-fill-color: transparent;
}
.restaurants__like:hover + .restaurants__like--full {
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transform: scale(1);
}

.restaurants__like--full {
  top: -30px;
  right: 95px;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 600ms ease-in-out, opacity 300ms ease-in-out;
  z-index: 2;
}
.restaurants__like--full:hover, .restaurants__like--full:enabled {
  opacity: 1;
  transform: scale(1);
  -webkit-text-fill-color: transparent;
}

.function__card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px auto;
  position: relative;
  z-index: 1;
}
.function__card:hover i {
  color: #9356DC;
  transition: color 300ms;
}
.function__card:hover::after {
  opacity: 1;
}
.function__card::after {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f5edff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  opacity: 0;
  transition: opacity 300ms;
}
@media (min-width: 699px) {
  .function__card {
    width: 30%;
    margin: 20px;
  }
}
.function__card span {
  width: 18px;
  position: relative;
  right: 8px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 5%;
}
.function__card i {
  width: 20%;
  color: #7e7e7e;
}
.function__card p {
  margin-right: auto;
  font-weight: bold;
}

.order__like {
  cursor: pointer;
  align-self: flex-end;
  right: 35px;
  top: 50px;
  font-size: 35px;
  position: absolute;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  z-index: 3;
}
.order__like:hover, .order__like:active {
  -webkit-text-fill-color: transparent;
}
.order__like:hover + .order__like--full {
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transform: scale(1);
}

.order__like--full {
  font-size: 35px;
  opacity: 0;
  margin-left: 100px;
  transform: scale(0.5);
  transition: transform 600ms ease-in-out, opacity 300ms ease-in-out;
  z-index: 2;
}
.order__like--full:hover, .order__like--full:enabled {
  opacity: 1;
  transform: scale(1);
  -webkit-text-fill-color: transparent;
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
  width: 220px;
  object-fit: cover;
}

.restaurants__card__link {
  z-index: auto;
}

.restaurants__card {
  display: flex;
  position: relative;
  z-index: 1;
  width: 361px;
  justify-content: start;
  margin: 10px auto 10px auto;
}
.restaurants__card__link {
  text-decoration: none;
  color: inherit;
}
.restaurants__card a, .restaurants__card figure {
  width: 360px;
  height: 240px;
}
.restaurants__card figure {
  margin: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px;
}
.restaurants__card figure img {
  border-radius: 20px 20px 0px 0px;
  height: 160px;
}
.restaurants__card figure figcaption {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
  height: 80px;
}
.restaurants__card figure figcaption h3, .restaurants__card figure figcaption p {
  padding-left: 10px;
  height: 25px;
  margin: 0;
}

img + figcaption {
  margin-top: 20px;
}

.function h2, .restaurants h2 {
  padding-left: 5%;
}
@media (min-width: 699px) {
  .function h2, .restaurants h2 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

#search__border-top {
  border-top: #dbdbdb 1px solid;
  height: 5px;
  background: linear-gradient(to bottom, #d3d3d3, rgba(50, 50, 50, 0.1));
}

.search__toolbar {
  background: #eaeaea;
  height: 35px;
  display: flex;
  justify-content: center;
}
.search__toolbar #search__icon::before {
  font-size: 20px;
  position: relative;
  top: 6px;
  color: #3a3a3a;
  padding-left: 20px;
}
.search__toolbar form {
  width: 220px;
}
.search__toolbar input {
  border: none;
  background: #eaeaea;
  height: 95%;
  font-size: 20px;
  color: #3a3a3a;
  width: 220px;
  margin: 0;
  padding: 0 0 0 20px;
}
.search__toolbar input:focus {
  outline: none;
}

.search__intro {
  background: #f6f6f6;
  height: 220px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search__intro * {
  margin-top: 0;
  text-align: center;
}
.search__intro a {
  width: 250px;
}

.function__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 699px) {
  .function__flex {
    flex-direction: row;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 50px;
}

.restaurants__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 699px) {
  .restaurants__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  background-color: #353535;
  padding-left: 30px;
}
footer i, footer a, footer h2 {
  color: white;
}
footer h2 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: flex-start;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer a {
  text-decoration: none;
}
footer i {
  position: relative;
  width: 15px;
  left: -10px;
  font-size: 15px;
}
footer li {
  margin-top: 8px;
}
footer .footer__li {
  margin-left: 10px;
}

#welcome__page {
  position: absolute;
  font-size: 26px;
  left: 20px;
}

#menu__picture {
  height: 300px;
}
@media screen and (min-width: 699px) {
  #menu__picture {
    height: 500px;
  }
}

.order {
  position: relative;
  z-index: 1;
  margin-top: -50px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px 50px 0 0;
  padding-bottom: 100px;
}
.order h1 {
  font-size: 30px;
  padding-top: 20px;
  align-self: center;
  width: 90%;
}
@media screen and (min-width: 699px) {
  .order h1 {
    display: flex;
    justify-content: center;
  }
}
.order h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  border-bottom: #99E2D0 3px solid;
  width: 50px;
  margin-left: 20px;
  padding-bottom: 5px;
}
.order a {
  width: 150px;
  margin-top: 40px;
}

.order__command {
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1px 0 1px 10px;
  border-radius: 20px;
  margin: 0 0 15px 0;
  align-self: center;
  width: 90%;
  height: 80px;
  width: 380px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: order-pop 1s both;
}
.order__command--1 {
  animation-delay: 136.3636363636ms;
}
.order__command--2 {
  animation-delay: 272.7272727273ms;
}
.order__command--3 {
  animation-delay: 409.0909090909ms;
}
.order__command--4 {
  animation-delay: 545.4545454545ms;
}
.order__command--5 {
  animation-delay: 681.8181818182ms;
}
.order__command--6 {
  animation-delay: 818.1818181818ms;
}
.order__command--7 {
  animation-delay: 954.5454545455ms;
}
.order__command--8 {
  animation-delay: 1090.9090909091ms;
}
.order__command--9 {
  animation-delay: 1227.2727272727ms;
}
.order__command--10 {
  animation-delay: 1363.6363636364ms;
}
.order__command:hover .command__check {
  transform: scaleX(1);
  opacity: 1;
}
.order__command:hover .command__check i {
  transform: rotateZ(360deg);
}
.order__command:hover .command__price {
  transform: translateX(0);
}
.order__command:hover .command__text {
  width: 230px;
  transition: 400ms ease-out;
}
.order__command:hover .command__text p, .order__command:hover .command__text h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.order__command .command__text {
  min-width: 250px;
  width: 300px;
}
.order__command .command__text p, .order__command .command__text h3 {
  margin-top: 0;
  margin-bottom: 5px;
  width: 100%;
  white-space: nowrap;
}
.order__command .command__price {
  width: 40px;
  font-weight: bold;
  transform: translateX(60px);
  transition: transform 400ms ease-out;
  margin-top: 20px;
}
.order__command .command__check {
  width: 70px;
  position: relative;
  border-top: 2px solid #99E2D0;
  border-right: 2px solid #99E2D0;
  padding-right: 2px;
  height: 100%;
  transform-origin: right;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 400ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}
.order__command .command__check i {
  font-size: 25px;
  color: white;
  transform: rotateZ(0deg);
  transition: transform 500ms ease-out;
}

.order__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 699px) {
  .order__flex {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@keyframes order-pop {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader {
  background-color: white;
  margin-top: -80px;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  animation: loader-page 4s both;
}
.loader__spinner {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 200px;
}
.loader__spinner__pan {
  position: relative;
  top: 100px;
  width: 50px;
  height: 10px;
  background-color: black;
  border-radius: 0 0 1.4em 1.4em;
  animation: pan-handle 1500ms both infinite;
  transform-origin: -15% 0;
}
.loader__spinner__pan--1 {
  animation-delay: 500ms;
}
.loader__spinner__pan--2 {
  animation-delay: 1000ms;
}
.loader__spinner__handle {
  position: relative;
  top: 90px;
  right: 40px;
  width: 50px;
  height: 10px;
  background-color: transparent;
  border-top: 3px solid black;
  border-left: 3px transparent;
  border-radius: 100%;
  animation: pan-handle 1500ms both infinite;
}
.loader__spinner__handle--1 {
  animation-delay: 500ms;
}
.loader__spinner__handle--2 {
  animation-delay: 1000ms;
}
.loader__spinner__circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  animation: circles 1500ms both infinite;
}
.loader__spinner__circle--1 {
  background-color: #9356DC;
}
.loader__spinner__circle--2 {
  background-color: #FF79DA;
}
.loader__spinner__circle--3 {
  background-color: #99E2D0;
}
.loader__spinner__circle--1 {
  animation-delay: 500ms;
}
.loader__spinner__circle--2 {
  animation-delay: 1000ms;
}

@keyframes loader-page {
  90% {
    opacity: 1;
  }
  99% {
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes pan-handle {
  0% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0);
  }
  60%, 100% {
    transform: rotate(-30deg);
  }
}
@keyframes circles {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateX(0deg);
    transform: translateY(0);
  }
  50% {
    transform: rotateX(180deg);
    transform: translateY(200%);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateX(180deg);
  }
}

/*# sourceMappingURL=style.css.map */
