/*background-clip: text;
transform
loader css3
z-index*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
html {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
html body {
  width: 100%;
  margin: 0;
}
html img {
  object-fit: cover;
  width: 100%;
  max-height: 500px;
}

* {
  font-family: "Roboto";
}

footer h2, .order h1 {
  font-family: "Shrikhand";
}

.main-button, .order a, .search__intro a {
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: white;
  border-radius: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  position: relative;
  z-index: 1;
}
.main-button:hover::after, .order a:hover::after, .search__intro a:hover::after {
  opacity: 1;
}
.main-button::after, .order a::after, .search__intro a::after {
  background: linear-gradient(to bottom, #ff88de, #9b63df);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  opacity: 0;
  transition: opacity 300ms;
}

.restaurants__new {
  position: relative;
  padding: 8px 16px 8px 16px;
  text-align: center;
  left: 70%;
  bottom: 140px;
  color: #139273;
  font-weight: bold;
  background-color: #99E2D0;
}

.restaurants__like {
  align-self: flex-end;
  right: 40px;
  bottom: 40px;
  font-size: 35px;
  position: relative;
}

.function__card {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 20px auto;
  position: relative;
  z-index: 1;
}
.function__card:hover i {
  color: #9356DC;
  transition: color 300ms;
}
.function__card:hover::after {
  opacity: 1;
}
.function__card::after {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f5edff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  opacity: 0;
  transition: opacity 300ms;
}
@media (min-width: 699px) {
  .function__card {
    width: 30%;
    margin: 20px;
  }
}
.function__card span {
  width: 18px;
  position: relative;
  right: 8px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  text-align: center;
  margin-right: 5%;
}
.function__card i {
  width: 20%;
  color: #7e7e7e;
}
.function__card p {
  width: 50%;
  margin-right: auto;
  font-weight: bold;
}

.order__like {
  position: absolute;
  right: 10%;
}

header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
  width: 220px;
  object-fit: cover;
}

.restaurants__card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.restaurants__card__link {
  text-decoration: none;
  color: inherit;
}
.restaurants__card a, .restaurants__card figure {
  width: 360px;
  height: 240px;
}
.restaurants__card figure {
  margin: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px;
}
.restaurants__card figure img {
  border-radius: 20px 20px 0px 0px;
  height: 160px;
}
.restaurants__card figure figcaption {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 10px;
  height: 80px;
}
.restaurants__card figure figcaption h3, .restaurants__card figure figcaption p {
  padding-left: 10px;
  padding-bottom: 5px;
  height: 40px;
  margin: 0;
}

img + figcaption {
  margin-top: 20px;
}

.function h2, .restaurants h2 {
  padding-left: 5%;
}
@media (min-width: 699px) {
  .function h2, .restaurants h2 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
}

#search__border-top {
  border-top: #dbdbdb 1px solid;
  height: 5px;
  background: linear-gradient(to bottom, #d3d3d3, rgba(50, 50, 50, 0.1));
}

.search__toolbar {
  background: #eaeaea;
  height: 35px;
  display: flex;
  justify-content: center;
}
.search__toolbar #search__icon::before {
  font-size: 20px;
  position: relative;
  top: 6px;
  color: #3a3a3a;
  padding-left: 20px;
}
.search__toolbar form {
  width: 220px;
}
.search__toolbar input {
  border: none;
  background: #eaeaea;
  height: 95%;
  font-size: 20px;
  color: #3a3a3a;
  width: 220px;
  margin: 0;
  padding: 0 0 0 20px;
}
.search__toolbar input:focus {
  outline: none;
}

.search__intro {
  background: #f6f6f6;
  height: 220px;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search__intro * {
  margin-top: 0;
  text-align: center;
}
.search__intro a {
  width: 250px;
}

.function__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 699px) {
  .function__flex {
    flex-direction: row;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 50px;
}

.restaurants__flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 699px) {
  .restaurants__flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  background-color: #353535;
  padding-left: 30px;
}
footer i, footer a, footer h2 {
  color: white;
}
footer h2 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: flex-start;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer a {
  text-decoration: none;
}
footer i {
  position: relative;
  width: 15px;
  left: -10px;
  font-size: 15px;
}
footer li {
  margin-top: 8px;
}
footer .footer__li {
  margin-left: 10px;
}

#welcome__page {
  position: absolute;
  font-size: 26px;
  left: 20px;
}

.order {
  position: relative;
  z-index: 1;
  margin-top: -50px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px 50px 0 0;
  padding-bottom: 100px;
}
.order h1 {
  font-size: 30px;
  padding-top: 20px;
  align-self: center;
  width: 90%;
}
.order h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  border-bottom: #99E2D0 3px solid;
  width: 50px;
  margin-left: 30px;
  padding-bottom: 5px;
}
.order a {
  width: 150px;
  margin-top: 40px;
}

.order__command {
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1px 0 1px 10px;
  border-radius: 20px;
  margin: 0 0 15px 0;
  align-self: center;
  width: 90%;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.order__command p, .order__command h3 {
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
}
.order__command .command__price {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-top: 20px;
  padding-right: 5px;
}
.order__command .command__check {
  width: 70px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1px;
  right: -15px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}
.order__command .command__check i {
  font-size: 25px;
  color: white;
}

.order__command:hover .command__check {
  transform: translate(-15px);
}

.order__starters, .order__dishes, .order__desserts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
