// All pages

.main-button
{
    text-decoration: none;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to bottom, $colour-secondary, $colour-primary);
    position: relative;
    z-index: 1;
    &:hover
    {
        &::after
        {
            opacity: 1;
        }
    }
    &::after 
    {
        background: linear-gradient(to bottom, lighten($colour-secondary, 3), lighten($colour-primary, 3));
        box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
        border-radius: 50px;
        @include position-after;
    }   
}

// Welcome page

.restaurants__new
{
    position: relative;
    padding: 8px 16px 8px 16px;
    text-align: center;
    left: 70%;
    bottom: 140px;
    color: #139273;
    font-weight: bold;
    background-color: $colour-tertiary;
}

.restaurants__like
{
    cursor: pointer;
    align-self: flex-end;
    right: 60px;
    bottom: 30px;
    font-size: 35px;
    position: relative;
    background: linear-gradient(to bottom, $colour-primary 0%,$colour-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:black;
    z-index: 3;
    transform: all 300ms;
    &:hover, &:active
    {
        -webkit-text-fill-color:transparent;
    }
    &:hover + &--full
    {
        -webkit-text-fill-color:transparent;
        opacity: 1;
        transform: scale(1);
    }
}

.restaurants__like--full
{
    font-size: 35px;
    top: -30px;
    right: 95px;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 600ms ease-in-out, opacity 300ms ease-in-out;
    z-index: 2;
    &:hover, &:enabled
    {
        opacity: 1;
        transform: scale(1);
        -webkit-text-fill-color:transparent;
    }
}

.function__card
{
    box-shadow: 5px 5px 15px rgb(0 0 0 / 10%);
    background-color: $light-gray;
    border-radius: 20px;
    height: 70px;
    width: 90%;
    @include flex-center;
    align-items: center;
    margin: 10px auto 20px auto;
    position: relative;
    z-index: 1;
    &:hover
    {
        i
        {
            color: $colour-primary;
            transition: color 300ms;
        }
        &::after 
        {
            opacity: 1
        }
    }
    &::after 
    {
        box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
        border-radius: 20px;
        background-color: #f5edff;
        @include position-after;
    }
    @media (min-width: 699px)
    {
        width: 30%;
        margin: 20px;
    }
    span
    {
        width: 18px;
        position: relative;
        right: 8px;
        background-color: $colour-primary;
        border-radius: 50%;
        color: white;
        text-align: center;
        margin-right: 5%;
    }
    i 
    {
        width: 20%;
        color: #7e7e7e;
    }
    p 
    {
        margin-right: auto;
        font-weight: bold;
    }
}

// Menus pages

.order__like
{
    cursor: pointer;
    align-self: flex-end;
    right: 35px;
    top: 50px;
    font-size: 35px;
    position: absolute;
    background: linear-gradient(to bottom, $colour-primary 0%,$colour-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:black;
    z-index: 3;
    transform: all 300ms;
    &:hover, &:active
    {
        -webkit-text-fill-color:transparent;
    }
    &:hover + &--full
    {
        -webkit-text-fill-color:transparent;
        opacity: 1;
        transform: scale(1);
    }
}

.order__like--full
{
    font-size: 35px;
    opacity: 0;
    margin-left: 100px;
    transform: scale(0.5);
    transition: transform 600ms ease-in-out, opacity 300ms ease-in-out;
    z-index: 2;
    &:hover, &:enabled
    {
        opacity: 1;
        transform: scale(1);
        -webkit-text-fill-color:transparent;
    }
}