html
{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    body
    {
        width: 100%;
        margin: 0;
    }
    a, a:link
    {
        text-decoration: none;
        color: inherit;
    }
    img 
    {
        object-fit: cover;
        width: 100%;
    }
}
