#welcome__page
{
    position: absolute;
    font-size: 26px;
    left: 20px;
}

.order
{
    position: relative;
    z-index: 1;
    margin-top: -50px;
    background-color: $light-gray;
    @include flex-center;
    flex-direction: column;
    border-radius: 50px 50px 0 0;
    padding-bottom: 100px;
    h1 
    {
        font-size: 30px;
        padding-top: 20px;
        @include order-alignement;
    }
    h2 
    {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 20px;
        border-bottom: $colour-tertiary 3px solid;
        width: 50px;
        margin-left: 30px;
        padding-bottom: 5px;
    }
    a 
    {
        @extend .main__button;
        width: 150px;
        margin-top: 40px;
    }
}

.order__command
{
    @include order-buttons;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p, h3
    {
        margin-top: 0;
        margin-bottom: 5px;
        overflow: hidden;
    }
    .command__price
    {
        width: 80px;
        display: flex;
        justify-content: flex-end;
        font-weight: bold;
        margin-top: 20px;
        padding-right: 5px;
    }
    .command__check
    {
        width: 70px;
        height: 83px;
        @include flex-center;
        align-items: center;
        position: relative;
        bottom: 1px;
        right: -15px;
        border-radius: 0 20px 20px 0;
        background-color: $colour-tertiary;
        i
        {
            font-size: 25px;
            color: white;
        }
    }
}
.order__command:hover
{
    .command__check
    {
        transform: translate(-15px)
    }
}

.order__starters, .order__dishes, .order__desserts
{
    @include flex-center;
    flex-direction: column;
}
