// Graphical charter
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

// Background colors
$search-border-top: #dbdbdb;
$search-border-gradient: #d3d3d3;
$search-toolbar: #eaeaea;
$light-gray: #f6f6f6;