footer 
{
    @include flex-center;
    flex-direction: column;
    height: 200px;
    background-color: $footer-black;
    padding-left: 30px;
    i, a, h2 
    {
        color: white;
    }
    h2 
    {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
        justify-content: flex-start;
    }
    ul 
    {
        list-style: none;
        padding-left: 0;
    }
    a 
    {
        text-decoration: none;
    }
    i
    {
        position: relative;
        width: 15px;
        left: -10px;
        font-size: 15px;
    }
    li 
    {
        margin-top: 8px;
    }
    .footer__li
    {
        margin-left: 10px;
    }
}