.function h2, .restaurants h2 
{
    padding-left: 5%;
    @media (min-width : 599px) 
    {
        @include flex-center;
        padding-left: 0;
    }
}

// Section search

#search__border-top
{
    border-top: $search-border-top 1px solid;
    height: 5px;
    background: linear-gradient(to bottom, $search-border-gradient, rgba(50, 50, 50, 0.1));
}

.search__toolbar
{
    background: $dark-gray;
    height: 35px;
    @include flex-center;
    #search__icon::before
    {
        font-size: 20px;
        position: relative;
        top: 6px;
        color: #3a3a3a;
        padding-left: 20px;
    }
    form
    {
        width: 220px;
    }
    input 
    {
        border: none;
        background: $dark-gray;
        height: 95%;
        font-size: 20px;
        color: #3a3a3a;
        width: 220px;
        margin: 0;
        padding: 0 0 0 20px;
    }
    input:focus
    {
        outline: none;
    }
}

.search__intro
{
    background: $light-gray;
    height: 220px;
    padding-top: 20px;
    padding-bottom: 40px;
    @include flex-center;
    flex-direction: column;
    *
    {
        margin-top: 0;
        text-align: center;
    }
    a 
    {
        @extend .main__button;
        width: 250px;
    }
}

// Section Function

.function__flex
{
    @include flex-center;
    flex-direction: column;
    @media (min-width: 599px)
    {
        flex-direction: row;
    }
}

// Section restaurants

.restaurants
{
    background-color: $light-gray;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 50px;
}

.restaurants__flex
{
    @include flex-center;
    flex-direction: column;
    @media (min-width: 599px)
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
